@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #0a0a0a;
}

body {
  margin: 0;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
